In [32]:
import math
from matplotlib import pyplot as plt
%matplotlib inline
import numpy as np
import inspect
import pandas as pd
import csv
import os

In [34]:
os.getcwd()

'C:\\Users\\Dragon2\\Downloads'

In [46]:
df = pd.read_csv('track_A.csv')
df = df.drop(['高低右','通り左','通り右','水準','軌間','速度'],axis=1)

In [37]:
df.head()

         date    キロ程   高低左
0  2017-04-03  10000  0.22
1  2017-04-03  10001 -2.59
2  2017-04-03  10002 -5.71
3  2017-04-03  10003 -7.00
4  2017-04-03  10004 -5.09

In [47]:
df = df.rename(columns={'キロ程':'kilo'})
df.head()

         date   kilo   高低左
0  2017-04-01  10000 -1.16
1  2017-04-01  10001 -1.17
2  2017-04-01  10002 -1.09
3  2017-04-01  10003 -0.64
4  2017-04-01  10004  0.47

In [48]:
df_new = pd.DataFrame(columns=[])
for i in range(10000, 10002):
    df_new = df[df.kilo == i]
    df_new = df_new.append(df1, ignore_index = True)
df_new.head()

         date   kilo   高低左
0  2017-04-01  10001 -1.17
1  2017-04-02  10001 -0.83
2  2017-04-03  10001 -0.91
3  2017-04-04  10001   NaN
4  2017-04-05  10001 -0.71

In [49]:
d = {}
for i in range(10000, 65684):
    d[i] = pd.DataFrame(columns=[])
    d[i] = df[df.kilo == i]

In [50]:
for i in range(10000, 65684):
    d[i].to_csv('C:/Users/Dragon2/Downloads/trackA/trackA_%d.csv'%i, index=None)